header{
    background-color:#1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    color:#F9FAF8;
}
.logo {
    position:absolute;
    top: 10px;
    font-size: 24px;
    color: #F9FAF8;
    float: left;
    
    
}   
.plinks  {
    display:flex;
    float: right;
    list-style: none;
    margin:0;
    padding:0;
    top: 10px;
    margin-right: 20px;
}
.clinks{
    display:flex;
    gap: 1rem;
    font-size: 18px;
    color: #e5e7eb;
    float: left;
    position: relative;
    bottom: 80px;
}

.plinks {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    }
.clinks {
    font-size: 18px;
    color: #E5E7EB;
    }
.container {
    display:flex;
    flex-direction: column;
}
.a{
    font-size: 18px; color: #E5E7EB;
    font-weight: 800;
    margin-left: 200px;
}
.b{
    width:350px;
    margin-left: 200px
}
body{
    margin: 0;}